sentence-transformers
streamlit
langchain
langchain_community
fpdf
python-docx
youtube-transcript-api
pytube
langchain-community
langchain-text-splitters
SQLAlchemy
psycopg2-binary
celery[redis]
redis
fastapi[all]
uvicorn[standard]
pydantic-settings